* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    background-image: url("background.jpg"); 
    background-repeat: no-repeat;  
    background-size: cover;        
    background-attachment: fixed; 
}

h1 {
    font-size: 2.5rem;
    color: #1e3a8a;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    width: 200px;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #1e3a8a;
}

button {
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #1e3a8a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4c6cbf;
}

#currentWeather,
#forecast {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

#currentWeather h2,
#forecast h2 {
    font-size: 1.5rem;
    color: #1e3a8a;
    margin-bottom: 10px;
}

#currentTemp,
#currentDesc {
    font-size: 1.1rem;
    margin: 5px 0;
}

#forecastList {
    list-style-type: none;
    padding: 0;
}

#forecastList li {
    background-color: rgba(249, 250, 251, 0.377);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

#forecastList li img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

@media (max-width: 600px) {
    body {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    input[type="text"] {
        width: 100%;
        margin-bottom: 15px;
    }

    button {
        width: 100%;
    }

    #currentWeather, #forecast {
        padding: 15px;
    }

    #currentWeather h2, #forecast h2 {
        font-size: 1.3rem;
    }

    #currentTemp,
    #currentDesc {
        font-size: 1rem;
    }

    #forecastList li {
        font-size: 1rem;
    }
}

#currentWeather, #forecast {
    background-color: #ffffff49;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
}

